<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="NoneSecurity"  maxBufferPoolSize="12000000" maxReceivedMessageSize="12000000" useDefaultWebProxy="false">
          <readerQuotas maxStringContentLength="12000000" maxArrayLength="12000000"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="SOABehavior"></behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endPointBehavior"></behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="WCFStyle.LogServices" behaviorConfiguration="SOABehavior">
        <endpoint address="http://192.168.0.103:8866/LogServices" binding="wsHttpBinding"  bindingConfiguration="NoneSecurity"  contract="WCFStyle.ILog" behaviorConfiguration="endPointBehavior"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>