<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="CN100SectionGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="wcfSection" type="CN100.EnterprisePlatform.Configuration.WcfSection, CN100.EnterprisePlatform.Configuration" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="LISTEN_IPADDRESS" value="192.168.0.103"/>
    <add key="LISTEN_PORT" value="999"/>
    
  </appSettings>


  <CN100SectionGroup>
    <!--WCF配置节-->
    <wcfSection>
      <hosts>
        <host name="default" ip="192.168.0.103" port="999" />
      </hosts>
    </wcfSection>
  </CN100SectionGroup>

  <system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <remove name="Default"></remove>
        <add name="console"
            type="System.Diagnostics.ConsoleTraceListener"></add>

        <add name="liteTraceFile"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="D:\TraceListener\sql.txt"></add>
      </listeners>
    </trace>
    <switches>
      <add name="lite" value="false"
          listener="liteTraceFile" dedicated="true"></add>
    </switches>
  </system.diagnostics>


  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, CN100.EnterprisePlatform.ORM, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </DbProviderFactories>
  </system.data>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
