<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <sectionGroup name="CN100SectionGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="wcfSection" type="CN100.EnterprisePlatform.Configuration.WcfSection, CN100.EnterprisePlatform.Configuration" />
    </sectionGroup>
  </configSections>
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="NoneSecurity"  maxBufferPoolSize="12000000" maxReceivedMessageSize="12000000" useDefaultWebProxy="false">
          <readerQuotas maxStringContentLength="12000000" maxArrayLength="12000000"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.211:8866/LogServices" binding="wsHttpBinding" bindingConfiguration="NoneSecurity" contract="WCFStyle.ILog" name="SOAService"></endpoint>
    </client>
  </system.serviceModel>

  <CN100SectionGroup>
    <!--WCF配置节-->
    <wcfSection>
      <hosts>
        <host name="default" ip="192.168.0.211" port="999" />
      </hosts>
    </wcfSection>
  </CN100SectionGroup>


  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
